.container {
  display: flex;
  width: 80%;
  padding: 1rem;
  margin: 2rem auto 0 auto;
 
}


.formulario {
    .card {
        display: flex;
        width: 80%;
        padding: 1rem;
        margin: 2rem auto 0 auto;
       
      transition: border-color 0.3s;
  
      &:hover {
        border-color: rgb(5, 136, 59);
      }
  
      .card-body {
        .card-title {
          font-size: 1.25rem;
        }
  
        p {
          margin-bottom: 0;
        }
  
        h2, h3 {
          margin: 0;
        }
  
        h2, h3, .total-cost-value {
          font-size: 1.75rem;
         
        }
      }



    }
  
    .total-cost {
     
      &-value {
        font-size: 1.75rem;
        font-weight: bold;
        margin-left: 0.5rem;
      }
        
          }

    }

    .form-check-input {
      background-color: none;
      &:checked {
      background-color: rgb(5, 136, 59);
      }
    }


    .dashed-line {
      position: relative;
      width: 60%;
      margin: auto;
      height: 5px; // Adjust this to match the height of your line
      background-color: transparent; // Ensure the background is transparent
    
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%; // Match the height of the dashed line
        background: 
          repeating-linear-gradient(
            to right,
            grey,
            grey 5px,
            transparent 5px,
            transparent 15px
          );
        border-radius: 2.5px; // Adjust this to control the roundness of the corners
      }
    }
    
    #field {
      position: absolute;
    }

