<app-welcome></app-welcome>


<div class="container-fluid">
<div class="d-flex flex-column align-items-center mt-4 mx-auto px-4" style="max-width: 1000px;">
  <form class="formulario w-100" [formGroup]="serviceForm">
    @for (service of services; track service.name) {
      <div class="card mb-3 shadow-sm rounded hover-shadow">
        <div class="card-body d-flex justify-content-between align-items-center">
          <div>
            <h5 class="card-title">{{service.name}}</h5>
            <p>{{service.description}}</p>
          </div>
          <div>
            <h2>{{service.price}} €</h2>
          </div>
          <div>
            <label class="form-check-label">
              <input type="checkbox"  [formControlName]="service.controlName" class="form-check-input" /> Afegir

              <!-- [formControl] assigns a reference to the FormControl instance you created to the FormControlDirective . 
              formControlName assigns a string for the forms module to look up the control by name. -->

            </label>
          </div>
        </div>
        @if (service.controlName === 'web' && serviceForm.controls['web'].value) {
         <div class="row justify-content-end">
          <div class="col-7 ">
            <app-panel [parentForm]="webForm" />
          </div>
          </div>

        }
      </div>
    }


    <div class=" row justify-content-end mt-3 w-100 pe-4 ">
      <div class="col-md-5 float-md-end mb-3 ms-md-3 ">
        <h3 class="me-4 ">Preu pressupostat: {{ totalCost$ | async }} €</h3>
      </div>
    </div>
 
  </form>
</div>


<div class="d-flex flex-column align-items-center mt-4 mx-auto px-4" style="max-width: 1000px;">
  <form class="formulario w-100" [formGroup]="serviceForm">
    <div class="card mb-3 shadow-sm rounded hover-shadow">
      <div class="card-body">
        <div class="mb-3">
          <h5 class="card-title">Demanar pressupost</h5>
        </div>
        <div class="d-flex justify-content-between align-items-center d-flex flex-row gap-2">
          @for (field of ['clientName', 'phone', 'email']; track field) {
            <div>
              <input [type]="field === 'email' ? 'email' : 'text'" 
                     class="form-control" 
                     [id]="field" 
                     [placeholder]="getPlaceholder(field)" 
                     [formControlName]="field">
              @if (serviceForm.get(field)?.invalid && (serviceForm.get(field)?.dirty || serviceForm.get(field)?.touched)) {
                <!-- dirty — true, если пользователь заполнил хотя бы одно из полей; -->
                <!-- touched — true, если одно из полей становилось активным (получало фокус); -->
                <div class="text-danger">
                  {{ getErrorMessage(field) }}
                </div>
              }
            </div>
          }
          <div>
            <!-- <form [formGroup]="applyForm"></form> type="button" (click)="saveBudget()" class="btn btn-success btn-sm text-nowrap">Sol·licitar pressupost →</form> -->

<button type="button" (click)="saveBudget()" class="btn btn-success btn-sm text-nowrap">Sol·licitar pressupost →</button>
          </div>
        </div>
      </div>
    </div>
  </form>




   <div class="dashed-line my-5"></div>

   
   <app-budgets-list [isButtonClicked]="isButtonClicked"></app-budgets-list>
  </div>
       </div>






