.no-border {
    border: none !important;
    outline: none !important;
}
.custom-width {
    width: 200px;
}
.no-background {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.center-text {
    text-align: center;
}
