<div class="container ">
  <div class="row">
    <div class="col ">
      <div [formGroup]="parentForm">
        <div class="form-group">
        
            <button type="button" class="btn btn-light no-background"  data-bs-toggle="modal" data-bs-target="#pagesModal">
              <i class="bi bi-info-circle"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
              </svg></button>


          <label for="pages" class="custom-width">Nombre de pàgines:</label>
             <button (click)="decrement('pages')" class="btn btn-outline-secondary btn-sm no-border ">⊝</button>
             <input type="number" formControlName="pages" min="1" class="form-control rounded center-text" style="width: 80px; display: inline;" />
             <button (click)="increment('pages')" class="btn btn-outline-secondary btn-sm no-border">⊕</button>
          </div>



        <div class="form-group mt-2 ">
          <button type="button" class="btn btn-light no-background" data-bs-toggle="modal" data-bs-target="#languagesModal">
           <i class="bi bi-info-circle"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
          </svg></button>



          <label for="languages" class="custom-width">Nombre de llenguatges:</label>
            <button (click)="decrement('languages')" class="btn btn-outline-secondary btn-sm no-border">⊝</button>
            <input type="number" formControlName="languages" min="1" class="form-control rounded center-text" style="width: 80px; display: inline;" />
            <button (click)="increment('languages')" class="btn btn-outline-secondary btn-sm no-border">⊕</button>
         
        </div>
      </div>
       
 
  <app-modal modalId="pagesModal" modalTitle="Nombre de pàgines" modalBody="Ajusta el nombre de pàgines que necessites per al teu projecte."></app-modal>
  <app-modal modalId="languagesModal" modalTitle="Nombre de llenguatges" modalBody="Ajusta les llenguatges que que tindrá el teu projecte. El cost de cada llenguatge és de 30 €."></app-modal>
</div>
</div>
</div>

