
<div *ngIf="isButtonClicked">
  <div class="budget-list">
    <p class="h4 mt-5 mb-5">Pressupostos en curs:</p><br><br>

    <div class="button-group">
      <button class="btn btn-primary" (click)="sortByDate()">Data</button>
      <button class="btn btn-primary" (click)="sortByCost()">Import</button>
      <button class="btn btn-primary" (click)="sortByName()">Nom</button>
    </div>
  </div>
</div>

<div class="d-flex flex-column align-items-center mt-4 mx-auto px-4" style="max-width: 1000px;">
  <div *ngFor="let budget of filteredBudgets(); trackBy: trackByDate" class="card mb-3 shadow-sm rounded hover-shadow budget-card">
    <div class="card-body mt-4">
      <div class="client-info">
        <h5>{{ budget.clientName }}</h5>
        <p>{{ budget.email }}</p>
        <p>{{ budget.phone }}</p>
      </div>
      <div class="services">
        <h5>Serveis contractats:</h5>
        <ul>
          <li *ngIf="budget.seo">SEO</li>
          <li *ngIf="budget.ads">Ads</li>
          <li *ngIf="budget.web">Web</li>
        </ul>
        <div *ngIf="budget.web" class="web-details">
          <p>Pàgines: {{ budget.webDetails.pages }}</p>
          <p>Idiomes: {{ budget.webDetails.languages }}</p>
        </div>
      </div>
      <div class="total-cost">
        <h5>Total:</h5>
        <p>{{ budget.totalCost }}€</p>
      </div>
      <div class="budget-date">
        <p>{{ budget.date | date:'short' }}</p>
      </div>
    </div>
  </div>
</div>
